/* Codigo original do CodePan com algumas alterções de estetica */

.formcadastro {
	margin: 5%;
	width: 200px;
}	

.form-wrapper {
	height: 50px;
	position: relative;
	top: 8px;
	width: 100%;
}

label.formgestor, input.formgestor, textarea.formgestor {
	margin-left: 30%;
	outline: none;
	top: 0;
	position: absolute;
}

label.formgestor {
	background: #4682B4;
	color: #fff;
	display: none;
	font-size: 80%;
	font-weight: bold;
	padding: 3px 8px;
	text-align: center;
	width: auto;
	-moz-border-radius: 5px 5px 0 0;
	-webkit-border-radius: 5px;
	border-radius: 5px 5px 0 0;
	-moz-transform: translateY(0);
	-ms-transform: translateY(0);
	-webkit-transform: translateY(0);
	transform: translateY(0);
}

input.formgestor, textarea.formgestor {
	border: 1px solid #4682B4;
	margin-left: 30%;
	padding: 2px 8px;
	width: 100%;
}


input.formgestor:focus, textarea.formgestor:focus {
	border: 1px solid #4682B4;
	background-color: #B0E2FF;
}

input.formgestor:focus+label.formgestor, textarea.formgestor:focus+label.formgestor
	{
	-webkit-animation: bounce 500ms;
	animation: bounce 500ms;
	display: block;
	-moz-transform: translateY(-100%);
	-ms-transform: translateY(-100%);
	-webkit-transform: translateY(-100%);
	transform: translateY(-100%);
}

/* Dessa linha pra baixo, são modificações de css para botões de cada formulario */

.botaore2 {
	position: relative;
	left: 109%;
	width: 100%;
}

.botaodeenviar {
	position: absolute;
	top: 52.8%;
}

.botaoCadUser {
	height: 50px;
	position: relative;
	top: 8px;
	width: 100%;
}

.botaodeenviarUser {
	position: absolute;
	margin-left:112%;
	bottom:90%;
}


.botaodeenviarcadus {
	position: absolute;
	margin-left:112%;
    margin-top:25%;
} 

.estadore {
	position: relative;
	left: 220px;
	top: -40px;
	width: 100%;
}

.estadocss {
	position: absolute;
	margin-left: 40%;
	top: 52.8%;
}

.botaore {
	position: relative;
	left: 220px;
	top: 8px;
	width: 100%;
}

.botaodegerar {
	position: absolute;
	margin-left: 40%;
	top: 52.8%;
}