@CHARSET "ISO-8859-1";
body {
  font: 12px Arial, Helvetica, sans-serif;
  background: #FFFFFF;
  margin: 0 auto;
  padding: 0auto;
  overflow-y: scroll;
  border:0;
  outline:0;
  lists-style-type:none;
}

form, img, a, ul, ol, li, table, tr, td, di{
	margin:0;
	padding:0;
	border:none;
	outline:none;
	lists-style-type:none;
}

#textotabela {
	margin-left:167px;
}

#fieldsetexames {
	width:400px;
	margin-left:290px;
	margin-top:120px;
}

#fieldsetconsulta {
	width:400px;
	margin-left:290px;
	margin-top:120px;
}

#botaobaixar{
	margin-left:290px;
	margin-top:10px;
}

#nomeexame{
	position:absolute;
	margin-left:290px;
    margin-top:115px;
	font-weight: bold;
}

#exametabela{
	margin-left:18px;
}

.negrito{
	font-weight: bold;
}

#voltarbotao{
	margin-left:654px;
	margin-top:10px;
}

#imginicio{
	margin-top:320px;
	margin-left:120px;
}

#especialidade{
	position:absolute;
	margin-left:33px;
	margin-top:30px;
	width:380px;
	z-index: 1;
}

#atendimento{
	position:absolute;
	margin-left:460px;
	margin-top:30px;
	width:380px;
}

#divisor{
	position:absolute;
	margin-left:395px;
}

#mapacontato{
	margin-top:40px;
	margin-left:100px;

}

#ondestamos{
	position:absolute;
	margin-left:570px;
	margin-top:65px;
	width:380px;
}

/* página */


#pagina {  
  width:1000px;
  height:100%;
  margin:auto;
}

/* cabeçalho */


#cabecalho{
   width:1000px;
   height:113px;
   margin: 0 auto; 
   position:relative; 
}
#banner{
   width:100%;
   height:100%;
   top:0;
   left:0;
   position:absolute;
}

#login{
   width:240px;
   height:190px;
   margin-left:770px;
   margin-top:3px;
   top:0;
   left:0;  
   position:absolute;
   float:none;
}

#fieldsetform{
   border:none;
   
}

#fieldsetbem{
   width:207px;
   height:95px;
}

#bemvindo{
   margin-left:10px;
   margin-top:15px;
   position:absolute;
   font-size:20px;
   font-weight:300px;
}

#usuarionome{
	margin-left:35px;
   margin-top:35px;
   position:absolute;
   font-size:18px;
   font-weight:300px;
}

#bemvindo1{
   margin-left:145px;
   margin-top:70px;
  position:absolute;
}

#trocasenha{
	margin-left:30px;
	margin-top:75px;
	position:absolute;
}

#logincss{
   margin-left:5px;
   margin-top:10px;   
   
}

#senhacss{
	margin-top:10px;
	
}

#entrarcss{
   margin-left:170px;
   margin-top:76px;
   top:0;
   left:0;
   position:absolute;

  
}

#esquecicss{
   margin-top:10px;
   
  
}

/* */

.but {
	width: 47px;
	height: 19px;
	background-image:url("images/botaodeletaredit.png");
	border:none;
	cursor:pointer;
}

.but1 {
	width: 60px;
	height: 24px;
	background-image:url("images/botaodeletar.png");
	border:none;
	cursor:pointer;
}

.butduvida {
	width: 98px;
	height: 21px;
	background-image:url("images/botaodeletarduvida.png");
	border:none;
	cursor:pointer;
}

#verificarcod{
   position:absolute;
   width:192px;
   margin-left:770px;
   margin-top: 30px; 
}

#InfoExame{
   width:400px;
   margin:0 auto;
   margin-top: 30px;   
}

h1{
   margin-left:40px;
   margin-top: 30px;

}

#bunda{
  margin-left:40px;
   
}
/* personalização da imagem de inicio. */

#imageminicio {
	margin-top: 30px;
	margin-left:22px;

}

#conteudo {
  width:100%;
  background-color:white;
  float:right;
  max-height: 900px;
  height: 600px;
 }

#conteudo ol li a {
background-color: #000000;
color: #FFFFFF;
text-decoration: none;
width: 26px;
position: relative;
float: left;
}

#conteudo ol li {
float: left;
position: relative;
width: 26px;
margin-left: 1px;
text-align: center;
}

#conteudo ol {
width: 710px;
float: left;
list-style-type: none;
position: relative;
display: block;
padding: 0px;
margin-left: 0px;
margin-top: 0px;
margin-right: 0px;
margin-bottom: 15px;
}

/* rodapé. */


#rodape { 
  clear:both;
  text-align: center;
  background-color:black;
  color:white;
  border:inset;
}

#rodape a {
  color: #4682B4;
}


/* css tabela */

table, th, td{
	border: 1px solid black;
	margin-top:30px;
	text-align:center;
	background-color:white;
	color:black;
	width:750px;
}
th{
	background-color:black;
	color:#FFFFFF;
}







/* Alinhamento do formulario contato via css */

#nome_contato{
   margin-left:49px;
}

#email_contato{
   margin-left:51px;
}

#mensagem_contato{
   position:absolute;
   margin-left:23px;
   
   
}

#mensagem{
	margin-left:87px;
	resize:none;
}

#botaum{
  margin-top:3px;
  margin-left:405px;
}




/* Alinhamento do formulario Cadastro de paciente via css */

#cod_p{
	margin-left:92px;
}


#nome_p{
   margin-left:177px;
   
}

#rg_p{
   margin-left:191px;
  
}

#cpf_p{
   margin-left:185px;
   
}

#data_p{
   margin-left:100px;
 
}

#rua_p{
   margin-left:188px;
  
}

#numero_p{
   margin-left:167px;
  
}

#bairro_p{
   margin-left:178px;

}

#cep_p{
	margin-left:184px;
	
}

#telefone_p{
	margin-left:163px;
	
}

#email_p{
	margin-left:180px;
	
}

#convenio_p{
	margin-left:161px;
	
	
}

#botaum2{
   margin-left:320px;
   
}

#botaogera{
    margin-left:400px;
    position:absolute;
}

#botaoindex{
	margin-top:10px;
}

/* Alinhamento do formulario Cadastro de gestores via css */

#nome_g{
   margin-left:92px;
}

#telefone_g{
   margin-left:79px;
}

#email_g{
   margin-left:92px;
}

#senha_g{    
	margin-left:89px;
}

#csenha_g{
	margin-left:30px;
}

#botaum_g{
	margin-left:233px;
}

/* Alinhamento do formulario lista de exames via css */

#exame_nome{
	margin-left:100px;
}

#procedimento{
	 margin-left:116px;
}

#procedimentoL{
	margin-left:193px;
	position:absolute;
	top:264px;
}

#botaum3{
  margin-top:80px;
  margin-left:558px;
}


/* css da tabela de exames */
.conteudoExames { width:725px!important; margin:0 0 0 150px!important; float:left!important; }
	ul.lista-exames { width:700px; clear:both; margin:0; padding:0; overflow:auto; height:400px; }
	ul.lista-exames li { list-style:none; margin:0 0 6px 0; padding:5px; width:100%; float:left; background:#FFF; }
	ul.lista-exames li:nth-child(even) {background: #ECECEC}
	ul.lista-exames li:nth-child(odd) {background: #FFF}
	
#deletarexame {
	margin-right:20px;
	float:right;
}

#editarexame {
	padding-right:20px;
	float:right;
}


/* campo obrigatorio */

.requerido:before {
  color: red;
  content: "*";
}

#formsite input:focus, select:focus {
        background-color: rgb(250,200,200);
}

/* Css do menu */

@import url(http://fonts.googleapis.com/css?family=PT+Sans:400,700);
#cssmenu {
  background: #000000;
  margin: 0;
  width: auto;
  padding: 0;
  line-height: 1;
  display: block;
  position: relative;
  z-index: 2;
  font-family: 'PT Sans', sans-serif;
}
#cssmenu ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: block;
}
#cssmenu ul:after {
  content: ' ';
  display: block;
  font-size: 0;
  height: 0;
  clear: both;
  visibility: hidden;
}
#cssmenu ul li {
  margin: 0;
  padding: 0;
  display: block;
  position: relative;
}
#cssmenu ul li a {
  text-decoration: none;
  display: block;
  margin: 0;
  -webkit-transition: color .2s ease;
  -moz-transition: color .2s ease;
  -ms-transition: color .2s ease;
  -o-transition: color .2s ease;
  transition: color .2s ease;
}
#cssmenu ul li ul {
  position: absolute;
  left: -9999px;
  top: auto;
}
#cssmenu ul li ul li {
  max-height: 0;
  position: absolute;
  -webkit-transition: max-height 0.4s ease-out;
  -moz-transition: max-height 0.4s ease-out;
  -ms-transition: max-height 0.4s ease-out;
  -o-transition: max-height 0.4s ease-out;
  transition: max-height 0.4s ease-out;
  background: #E8E8E8;
}
#cssmenu ul li ul li.has-sub:after {
  display: block;
  position: absolute;
  content: '';
  height: 10px;
  width: 10px;
  border-radius: 5px;
  background: #000000;
  z-index: 1;
  top: 13px;
  right: 15px;
}
#cssmenu ul li ul li.has-sub:before {
  display: block;
  position: absolute;
  content: '';
  height: 0;
  width: 0;
  border: 3px solid transparent;
  border-left-color: #696969;
  z-index: 2;
  top: 15px;
  right: 15px;
}
#cssmenu ul li ul li a {
  font-size: 14px;
  font-weight: 400;
  text-transform: none;
  color: #000000;
  letter-spacing: 0;
  display: block;
  width: 90px;
  padding: 11px 10px 11px 20px;
}
#cssmenu ul li ul li:hover > a,
#cssmenu ul li ul li.active > a {
  color: #4682B4;
}
#cssmenu ul li ul li:hover:after,
#cssmenu ul li ul li.active:after{
  background: #4682B4;
}
#cssmenu ul li ul li:hover > ul {
  left: 120px;
  top: 0;
}
#cssmenu ul li ul li:hover > ul > li {
  max-height: 72px;
  position: relative;
}
#cssmenu > ul > li {
  float: left;
}
#cssmenu > ul > li:after {
  content: '';
  display: block;
  position: absolute;
  width: 100%;
  height: 0;
  top: 0;
  z-index: 0;
  background: #4682B4;
  -webkit-transition: height .2s;
  -moz-transition: height .2s;
  -ms-transition: height .2s;
  -o-transition: height .2s;
  transition: height .2s;
}
#cssmenu > ul > li.has-sub > a {
  padding-right: 40px;
}
#cssmenu > ul > li.has-sub > a:after {
  display: block;
  content: '';
  background: #696969;
  height: 12px;
  width: 12px;
  position: absolute;
  border-radius: 13px;
  right: 14px;
  top: 16px;
}
#cssmenu > ul > li.has-sub > a:before {
  display: block;
  content: '';
  border: 4px solid transparent;
  border-top-color: #000000;
  z-index: 2;
  height: 0;
  width: 0;
  position: absolute;
  right: 16px;
  top: 21px;
}
#cssmenu > ul > li > a {
  color: #ffffff;
  padding: 15px 20px;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-size: 14px;
  z-index: 2;
  position: relative;
}
#cssmenu > ul > li:hover:after,
#cssmenu > ul > li.active:after {
  height: 100%;
}
#cssmenu > ul > li:hover > a,
#cssmenu > ul > li.active > a {
  color: #FFFFFF;
}
#cssmenu > ul > li:hover > a:after,
#cssmenu > ul > li.active > a:after {
  background: #4682B4;
}
#cssmenu > ul > li:hover > a:before,
#cssmenu > ul > li.active > a:before {
  border-top-color: #fffafa;
}
#cssmenu > ul > li:hover > ul {
  left: 0;
}
#cssmenu > ul > li:hover > ul > li {
  max-height: 72px;
  position: relative;
}
#cssmenu #menu-button {
  display: none;
}
@media all and (max-width: 768px), only screen and (-webkit-min-device-pixel-ratio: 2) and (max-width: 1024px), only screen and (min--moz-device-pixel-ratio: 2) and (max-width: 1024px), only screen and (-o-min-device-pixel-ratio: 2/1) and (max-width: 1024px), only screen and (min-device-pixel-ratio: 2) and (max-width: 1024px), only screen and (min-resolution: 192dpi) and (max-width: 1024px), only screen and (min-resolution: 2dppx) and (max-width: 1024px) {
  #cssmenu > ul {
    max-height: 0;
    overflow: hidden;
    -webkit-transition: max-height 0.35s ease-out;
    -moz-transition: max-height 0.35s ease-out;
    -ms-transition: max-height 0.35s ease-out;
    -o-transition: max-height 0.35s ease-out;
    transition: max-height 0.35s ease-out;
  }
  #cssmenu > ul.open {
    max-height: 1000px;
    border-top: 1px solid rgba(110, 110, 110, 0.25);
  }
  #cssmenu ul {
    width: 100%;
  }
  #cssmenu ul > li {
    float: none;
  }
  #cssmenu ul li a {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    padding: 12px 20px;
  }
  #cssmenu ul > li:after {
    display: none;
  }
  #cssmenu ul li.has-sub > a:after,
  #cssmenu ul li.has-sub > a:before,
  #cssmenu ul li ul li.has-sub:after,
  #cssmenu ul li ul li.has-sub:before {
    display: none;
  }
  #cssmenu ul li ul,
  #cssmenu ul li ul li ul,
  #cssmenu ul li ul li:hover > ul {
    left: 0;
    position: relative;
  }
  #cssmenu ul li ul li,
  #cssmenu ul li:hover > ul > li {
    max-height: 999px;
    position: relative;
    background: none;
  }
  #cssmenu ul li ul li a {
    padding: 8px 20px 8px 35px;
    color: #ffffff;
    width: auto;
  }
  #cssmenu ul li ul ul li a {
    padding: 8px 20px 8px 50px;
  }
  #cssmenu ul li ul li:hover > a {
    color: #eb3dee;
  }
  #cssmenu #menu-button {
    display: block;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    padding: 15px 20px;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 14px;
    letter-spacing: 1px;
    color: #ffffff;
    cursor: pointer;
  }
  #cssmenu #menu-button:after {
    display: block;
    content: '';
    position: absolute;
    height: 3px;
    width: 22px;
    border-top: 2px solid #ffffff;
    border-bottom: 2px solid #ffffff;
    right: 20px;
    top: 16px;
  }
  #cssmenu #menu-button:before {
    display: block;
    content: '';
    position: absolute;
    height: 3px;
    width: 22px;
    border-top: 2px solid #ffffff;
    right: 20px;
    top: 26px;
  }
	